%h1 Listing companies

%table
  %tr
    %th Name
    %th Description
    %th User/Owner
    %th Edit options
    %th

  - @companies.each do |company|
    %tr
      %td= company.name
      %td= company.description
      %td= user_name(company)
      - if current_user == company.user
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - else
        %td Only company owner can edit a company.

%br

= link_to 'New Company', new_company_path
