!!!
%html{ lang: 'en' }
  %head
    %title Ember with Rails. Ninja!
    = csrf_meta_tags
    = stylesheet_link_tag 'application' 
    = javascript_include_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    = yield

